## Get meta.csv

Reorganize the information contained in the .coords file into the form
center(a string, index), VAR,BURGLARY-THEFT-MOTOR_VEHICLE_THEFT,HOMICIDE-ASSAULT-BATTERY,lat1,lat2,lon1,lon2

The reason for doing so is that some tiles doesn't have `HOMICIDE-ASSAULT-BATTERY` data

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
variables_ = pd.read_csv(
    '../data/CRIME-_2014-01-01_2016-12-31.coords', 
    sep='#', 
    names=['lat1', 'lat2', 'lon1', 'lon2', 'type'])

In [3]:
latc = (variables_.lat1 + variables_.lat2) / 2
lonc = (variables_.lon1 + variables_.lon2) / 2
center = latc.apply(lambda x : '{:.4f}'.format(x)) + '#' + lonc.apply(lambda x : '{:.4f}'.format(x))
variables_['index'] = variables_.index
variables_.index = center

In [7]:
types = variables_.type.unique()
dfs = []

for t in types:
    df = variables_[variables_.type==t].copy()
    print(t, df.shape[0])
    df.rename(columns={'index': t}, inplace=True)
    dfs.append(df)
    
meta = reduce(lambda x, y: x.merge(y, left_index=True, right_index=True), dfs)
meta = meta[list(types) + ['lat1', 'lat2', 'lon1', 'lon2']]                  
meta.to_csv('../data/meta.csv')
meta.head()

VAR 2339
BURGLARY-THEFT-MOTOR_VEHICLE_THEFT 2339
HOMICIDE-ASSAULT-BATTERY 1487

,VAR,BURGLARY-THEFT-MOTOR_VEHICLE_THEFT,HOMICIDE-ASSAULT-BATTERY,lat1,lat2,lon1,lon2
41.6562#-87.6133,0,2339,4678,41.65477,41.65754,-87.61508,-87.61156
41.6562#-87.6063,1,2340,4679,41.65477,41.65754,-87.60804,-87.60452
41.6727#-87.6415,3,2342,4680,41.67136,41.67412,-87.64322,-87.63970
41.6727#-87.6344,4,2343,4681,41.67136,41.67412,-87.63618,-87.63266
41.6755#-87.6204,7,2346,4682,41.67412,41.67688,-87.62211,-87.61859